<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>default</string>
		<key>displayName</key>
		<string>默认</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>name</key>
				<string>default_smile</string>
				<key>code</key>
				<string>:)</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_sweat</string>
				<key>code</key>
				<string>:sweat:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_huffy</string>
				<key>code</key>
				<string>:huffy:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_cry</string>
				<key>code</key>
				<string>:cry:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_titter</string>
				<key>code</key>
				<string>:titter:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_handshake</string>
				<key>code</key>
				<string>:handshake:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_victory</string>
				<key>code</key>
				<string>:victory:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_curse</string>
				<key>code</key>
				<string>:curse:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_dizzy</string>
				<key>code</key>
				<string>:dizzy:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_shutup</string>
				<key>code</key>
				<string>:shutup:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_funk</string>
				<key>code</key>
				<string>:funk:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_loveliness</string>
				<key>code</key>
				<string>:loveliness:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_sad</string>
				<key>code</key>
				<string>:(</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_biggrin</string>
				<key>code</key>
				<string>:D</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_cool</string>
				<key>code</key>
				<string>:cool:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_mad</string>
				<key>code</key>
				<string>:mad:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_shocked</string>
				<key>code</key>
				<string>:o</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_tongue</string>
				<key>code</key>
				<string>:P</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_lol</string>
				<key>code</key>
				<string>:lol:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_shy</string>
				<key>code</key>
				<string>:shy:</string>
			</dict>
			<dict>
				<key>name</key>
				<string>default_sleepy</string>
				<key>code</key>
				<string>:sleepy:</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>coolmonkey</string>
		<key>displayName</key>
		<string>酷猴</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>name</key>
				<string>coolmonkey_01</string>
				<key>code</key>
				<string>{:2_41:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_02</string>
				<key>code</key>
				<string>{:2_42:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_03</string>
				<key>code</key>
				<string>{:2_43:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_04</string>
				<key>code</key>
				<string>{:2_44:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_05</string>
				<key>code</key>
				<string>{:2_45:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_06</string>
				<key>code</key>
				<string>{:2_46:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_07</string>
				<key>code</key>
				<string>{:2_47:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_08</string>
				<key>code</key>
				<string>{:2_48:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_09</string>
				<key>code</key>
				<string>{:2_49:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_10</string>
				<key>code</key>
				<string>{:2_50:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_11</string>
				<key>code</key>
				<string>{:2_51:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_12</string>
				<key>code</key>
				<string>{:2_52:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_13</string>
				<key>code</key>
				<string>{:2_53:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_14</string>
				<key>code</key>
				<string>{:2_54:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_15</string>
				<key>code</key>
				<string>{:2_55:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>coolmonkey_16</string>
				<key>code</key>
				<string>{:2_56:}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>grapeman</string>
		<key>displayName</key>
		<string>呆呆男</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>name</key>
				<string>grapeman_01</string>
				<key>code</key>
				<string>{:3_57:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_02</string>
				<key>code</key>
				<string>{:3_58:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_03</string>
				<key>code</key>
				<string>{:3_59:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_04</string>
				<key>code</key>
				<string>{:3_60:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_05</string>
				<key>code</key>
				<string>{:3_61:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_06</string>
				<key>code</key>
				<string>{:3_62:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_07</string>
				<key>code</key>
				<string>{:3_63:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_08</string>
				<key>code</key>
				<string>{:3_64:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_09</string>
				<key>code</key>
				<string>{:3_65:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_10</string>
				<key>code</key>
				<string>{:3_66:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_11</string>
				<key>code</key>
				<string>{:3_67:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_12</string>
				<key>code</key>
				<string>{:3_68:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_13</string>
				<key>code</key>
				<string>{:3_69:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_14</string>
				<key>code</key>
				<string>{:3_70:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_15</string>
				<key>code</key>
				<string>{:3_71:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_16</string>
				<key>code</key>
				<string>{:3_72:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_17</string>
				<key>code</key>
				<string>{:3_73:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_18</string>
				<key>code</key>
				<string>{:3_74:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_19</string>
				<key>code</key>
				<string>{:3_75:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_20</string>
				<key>code</key>
				<string>{:3_76:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_21</string>
				<key>code</key>
				<string>{:3_77:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_22</string>
				<key>code</key>
				<string>{:3_78:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_23</string>
				<key>code</key>
				<string>{:3_79:}</string>
			</dict>
			<dict>
				<key>name</key>
				<string>grapeman_24</string>
				<key>code</key>
				<string>{:3_80:}</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
