<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>{:3_80:}</string>
		<key>image</key>
		<string>grapeman_24.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_79:}</string>
		<key>image</key>
		<string>grapeman_23.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_78:}</string>
		<key>image</key>
		<string>grapeman_22.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_77:}</string>
		<key>image</key>
		<string>grapeman_21.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_76:}</string>
		<key>image</key>
		<string>grapeman_20.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_75:}</string>
		<key>image</key>
		<string>grapeman_19.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_74:}</string>
		<key>image</key>
		<string>grapeman_18.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_73:}</string>
		<key>image</key>
		<string>grapeman_17.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_72:}</string>
		<key>image</key>
		<string>grapeman_16.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_71:}</string>
		<key>image</key>
		<string>grapeman_15.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_70:}</string>
		<key>image</key>
		<string>grapeman_14.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_69:}</string>
		<key>image</key>
		<string>grapeman_13.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_68:}</string>
		<key>image</key>
		<string>grapeman_12.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_67:}</string>
		<key>image</key>
		<string>grapeman_11.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_66:}</string>
		<key>image</key>
		<string>grapeman_10.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_65:}</string>
		<key>image</key>
		<string>grapeman_09.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_64:}</string>
		<key>image</key>
		<string>grapeman_08.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_63:}</string>
		<key>image</key>
		<string>grapeman_07.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_62:}</string>
		<key>image</key>
		<string>grapeman_06.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_61:}</string>
		<key>image</key>
		<string>grapeman_05.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_60:}</string>
		<key>image</key>
		<string>grapeman_04.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_59:}</string>
		<key>image</key>
		<string>grapeman_03.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_58:}</string>
		<key>image</key>
		<string>grapeman_02.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:3_57:}</string>
		<key>image</key>
		<string>grapeman_01.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_56:}</string>
		<key>image</key>
		<string>coolmonkey_16.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_55:}</string>
		<key>image</key>
		<string>coolmonkey_15.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_54:}</string>
		<key>image</key>
		<string>coolmonkey_14.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_53:}</string>
		<key>image</key>
		<string>coolmonkey_13.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_52:}</string>
		<key>image</key>
		<string>coolmonkey_12.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_51:}</string>
		<key>image</key>
		<string>coolmonkey_11.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_50:}</string>
		<key>image</key>
		<string>coolmonkey_10.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_49:}</string>
		<key>image</key>
		<string>coolmonkey_09.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_48:}</string>
		<key>image</key>
		<string>coolmonkey_08.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_47:}</string>
		<key>image</key>
		<string>coolmonkey_07.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_46:}</string>
		<key>image</key>
		<string>coolmonkey_06.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_45:}</string>
		<key>image</key>
		<string>coolmonkey_05.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_44:}</string>
		<key>image</key>
		<string>coolmonkey_04.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_43:}</string>
		<key>image</key>
		<string>coolmonkey_03.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_42:}</string>
		<key>image</key>
		<string>coolmonkey_02.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>{:2_41:}</string>
		<key>image</key>
		<string>coolmonkey_01.gif</string>
	</dict>
	<dict>
		<key>image</key>
		<string>sleepy.gif</string>
		<key>text</key>
		<string>:sleepy:</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:shy:</string>
		<key>image</key>
		<string>shy.gif</string>
	</dict>
	<dict>
		<key>image</key>
		<string>lol.gif</string>
		<key>text</key>
		<string>:lol:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>tongue.gif</string>
		<key>text</key>
		<string>:P</string>
	</dict>
	<dict>
		<key>image</key>
		<string>shocked.gif</string>
		<key>text</key>
		<string>:o</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:mad:</string>
		<key>image</key>
		<string>mad.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:cool:</string>
		<key>image</key>
		<string>cool.gif</string>
	</dict>
	<dict>
		<key>image</key>
		<string>biggrin.gif</string>
		<key>text</key>
		<string>:D</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:(</string>
		<key>image</key>
		<string>sad.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:loveliness:</string>
		<key>image</key>
		<string>loveliness.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:funk:</string>
		<key>image</key>
		<string>funk.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:shutup:</string>
		<key>image</key>
		<string>shutup.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:dizzy:</string>
		<key>image</key>
		<string>dizzy.gif</string>
	</dict>
	<dict>
		<key>image</key>
		<string>curse.gif</string>
		<key>text</key>
		<string>:curse:</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:victory:</string>
		<key>image</key>
		<string>victory.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:handshake:</string>
		<key>image</key>
		<string>handshake.gif</string>
	</dict>
	<dict>
		<key>image</key>
		<string>titter.gif</string>
		<key>text</key>
		<string>:titter:</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:cry:</string>
		<key>image</key>
		<string>cry.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:huffy:</string>
		<key>image</key>
		<string>huffy.gif</string>
	</dict>
	<dict>
		<key>text</key>
		<string>:)</string>
		<key>image</key>
		<string>smile.gif</string>
	</dict>
	<dict>
		<key>image</key>
		<string>sweat.gif</string>
		<key>text</key>
		<string>:sweat:</string>
	</dict>
</array>
</plist>
