<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>forumIdDictionary</key>
	<dict>
		<key>Discovery</key>
		<string>2</string>
		<key>Hi!PDA站务与公告</key>
		<string>5</string>
		<key>Buy &amp; Sell 交易服务区</key>
		<string>6</string>
		<key>Geek Talks · 奇客怪谈</key>
		<string>7</string>
		<key>Smartphone</key>
		<string>9</string>
		<key>PalmOS ，Treo</key>
		<string>12</string>
		<key>Windows Mobile，PocketPC，HPC</key>
		<string>14</string>
		<key>麦客爱苹果</key>
		<string>22</string>
		<key>随笔与个人文集</key>
		<string>23</string>
		<key>意欲蔓延</key>
		<string>24</string>
		<key>吃喝玩乐</key>
		<string>25</string>
		<key>Palm芝麻宝典</key>
		<string>40</string>
		<key>DC,NB,MP3,Gadgets...</key>
		<string>50</string>
		<key>La Femme</key>
		<string>51</string>
		<key>iPhone, iPod Touch，iPad</key>
		<string>56</string>
		<key>疑似机器人</key>
		<string>57</string>
		<key>E-INK</key>
		<string>59</string>
		<key>Android, Chrome, &amp; Google</key>
		<string>60</string>
		<key>Joggler</key>
		<string>62</string>
		<key>已完成交易</key>
		<string>63</string>
		<key>只讨论2.0</key>
		<string>64</string>
		<key>改版建议</key>
		<string>65</string>
	</dict>
	<key>typeIdDictionary</key>
	<dict>
		<key>手机</key>
		<string>1</string>
		<key>掌上电脑</key>
		<string>2</string>
		<key>笔记本电脑</key>
		<string>3</string>
		<key>无线产品</key>
		<string>4</string>
		<key>数码相机、摄像机</key>
		<string>5</string>
		<key>MP3随身听</key>
		<string>6</string>
		<key>各类配件</key>
		<string>7</string>
		<key>其他好玩的</key>
		<string>8</string>
		<key>聚会</key>
		<string>9</string>
		<key>心得技巧</key>
		<string>10</string>
		<key>绿色汉化</key>
		<string>11</string>
		<key>游戏</key>
		<string>12</string>
		<key>多媒体</key>
		<string>13</string>
		<key>数据库</key>
		<string>14</string>
		<key>实用工具</key>
		<string>15</string>
		<key>ROM</key>
		<string>16</string>
		<key>硬件报告</key>
		<string>17</string>
		<key>Kobo</key>
		<string>18</string>
		<key>站务</key>
		<string>19</string>
		<key>Gadgets</key>
		<string>20</string>
		<key>无线</key>
		<string>21</string>
		<key>嵌入式Linux</key>
		<string>22</string>
		<key>Symbian</key>
		<string>23</string>
		<key>PalmOS</key>
		<string>24</string>
		<key>Linux</key>
		<string>25</string>
		<key>Windows Mobile</key>
		<string>26</string>
		<key>运营商</key>
		<string>27</string>
		<key>Other</key>
		<string>28</string>
		<key>电影</key>
		<string>29</string>
		<key>音乐</key>
		<string>30</string>
		<key>读书</key>
		<string>31</string>
		<key>美术</key>
		<string>32</string>
		<key>汽车</key>
		<string>33</string>
		<key>美食</key>
		<string>34</string>
		<key>出游</key>
		<string>35</string>
		<key>English</key>
		<string>36</string>
		<key>大杂烩</key>
		<string>38</string>
		<key>YY</key>
		<string>39</string>
		<key>助学</key>
		<string>40</string>
		<key>业界</key>
		<string>41</string>
		<key>Treo</key>
		<string>43</string>
		<key>HPC</key>
		<string>44</string>
		<key>Palm硬件</key>
		<string>45</string>
		<key>Clie</key>
		<string>46</string>
		<key>各类软件</key>
		<string>47</string>
		<key>汉化</key>
		<string>48</string>
		<key>摄影</key>
		<string>51</string>
		<key>DC</key>
		<string>52</string>
		<key>游戏机</key>
		<string>53</string>
		<key>兴趣</key>
		<string>54</string>
		<key>Discovery</key>
		<string>56</string>
		<key>投资</key>
		<string>57</string>
		<key>职场</key>
		<string>58</string>
		<key>BlackBerry</key>
		<string>59</string>
		<key>UMPC</key>
		<string>62</string>
		<key>Pre</key>
		<string>63</string>
		<key>WebOS</key>
		<string>64</string>
		<key>文艺</key>
		<string>65</string>
		<key>版喃</key>
		<string>66</string>
		<key>显摆</key>
		<string>67</string>
		<key>Kindle</key>
		<string>68</string>
		<key>SONY</key>
		<string>70</string>
		<key>国产</key>
		<string>72</string>
		<key>资源</key>
		<string>73</string>
		<key>安卓</key>
		<string>74</string>
		<key>综合</key>
		<string>75</string>
		<key>高清播放器</key>
		<string>76</string>
		<key>交流</key>
		<string>77</string>
		<key>pixi</key>
		<string>78</string>
		<key>晒物劝败</key>
		<string>79</string>
		<key>Nook</key>
		<string>80</string>
		<key>装修</key>
		<string>81</string>
	</dict>
	<key>forumList</key>
	<array>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等。</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Buy &amp; Sell 交易服务区</string>
			<key>description</key>
			<string>最IN数码产品热卖场，易手产品交易区，Hot!</string>
			<key>typeidList</key>
			<array>
				<string>手机</string>
				<string>掌上电脑</string>
				<string>笔记本电脑</string>
				<string>无线产品</string>
				<string>数码相机、摄像机</string>
				<string>MP3随身听</string>
				<string>各类配件</string>
				<string>其他好玩的</string>
				<string>站务</string>
			</array>
			<key>subForumList</key>
			<array>
				<dict>
					<key>forumName</key>
					<string>已完成交易</string>
					<key>description</key>
					<string>已完成的、成功的交易都放在这里留存。</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等</string>
		</dict>
	</array>
</dict>
</plist>
