<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>typeIdDictionary</key>
	<dict>
		<key>手机</key>
		<integer>1</integer>
		<key>掌上电脑</key>
		<integer>2</integer>
		<key>笔记本电脑</key>
		<integer>3</integer>
		<key>无线产品</key>
		<integer>4</integer>
		<key>数码相机、摄像机</key>
		<integer>5</integer>
		<key>MP3随身听</key>
		<integer>6</integer>
		<key>各类配件</key>
		<integer>7</integer>
		<key>其他好玩的</key>
		<integer>8</integer>
		<key>聚会</key>
		<integer>9</integer>
		<key>心得技巧</key>
		<integer>10</integer>
		<key>绿色汉化</key>
		<integer>11</integer>
		<key>游戏</key>
		<integer>12</integer>
		<key>多媒体</key>
		<integer>13</integer>
		<key>数据库</key>
		<integer>14</integer>
		<key>实用工具</key>
		<integer>15</integer>
		<key>ROM</key>
		<integer>16</integer>
		<key>硬件报告</key>
		<integer>17</integer>
		<key>Kobo</key>
		<integer>18</integer>
		<key>站务</key>
		<integer>19</integer>
		<key>Gadgets</key>
		<integer>20</integer>
		<key>无线</key>
		<integer>21</integer>
		<key>嵌入式Linux</key>
		<integer>22</integer>
		<key>Symbian</key>
		<integer>23</integer>
		<key>PalmOS</key>
		<integer>24</integer>
		<key>Linux</key>
		<integer>25</integer>
		<key>Windows Mobile</key>
		<integer>26</integer>
		<key>运营商</key>
		<integer>27</integer>
		<key>Other</key>
		<integer>28</integer>
		<key>电影</key>
		<integer>29</integer>
		<key>音乐</key>
		<integer>30</integer>
		<key>读书</key>
		<integer>31</integer>
		<key>美术</key>
		<integer>32</integer>
		<key>汽车</key>
		<integer>33</integer>
		<key>美食</key>
		<integer>34</integer>
		<key>出游</key>
		<integer>35</integer>
		<key>English</key>
		<integer>36</integer>
		<key>大杂烩</key>
		<integer>38</integer>
		<key>YY</key>
		<integer>39</integer>
		<key>助学</key>
		<integer>40</integer>
		<key>业界</key>
		<integer>41</integer>
		<key>Treo</key>
		<integer>43</integer>
		<key>HPC</key>
		<integer>44</integer>
		<key>Palm硬件</key>
		<integer>45</integer>
		<key>Clie</key>
		<integer>46</integer>
		<key>各类软件</key>
		<integer>47</integer>
		<key>汉化</key>
		<integer>48</integer>
		<key>摄影</key>
		<integer>51</integer>
		<key>DC</key>
		<integer>52</integer>
		<key>游戏机</key>
		<integer>53</integer>
		<key>兴趣</key>
		<integer>54</integer>
		<key>Discovery</key>
		<integer>56</integer>
		<key>投资</key>
		<integer>57</integer>
		<key>职场</key>
		<integer>58</integer>
		<key>BlackBerry</key>
		<integer>59</integer>
		<key>UMPC</key>
		<integer>62</integer>
		<key>Pre</key>
		<integer>63</integer>
		<key>WebOS</key>
		<integer>64</integer>
		<key>文艺</key>
		<integer>65</integer>
		<key>版喃</key>
		<integer>66</integer>
		<key>显摆</key>
		<integer>67</integer>
		<key>Kindle</key>
		<integer>68</integer>
		<key>SONY</key>
		<integer>70</integer>
		<key>国产</key>
		<integer>72</integer>
		<key>资源</key>
		<integer>73</integer>
		<key>安卓</key>
		<integer>74</integer>
		<key>综合</key>
		<integer>75</integer>
		<key>高清播放器</key>
		<integer>76</integer>
		<key>交流</key>
		<integer>77</integer>
		<key>pixi</key>
		<integer>78</integer>
		<key>晒物劝败</key>
		<integer>79</integer>
		<key>Nook</key>
		<integer>80</integer>
		<key>装修</key>
		<integer>81</integer>
	</dict>
	<key>forumList</key>
	<array>
		<dict>
			<key>forumName</key>
			<string>Hi!PDA站务与公告</string>
			<key>description</key>
			<string>Hi!PDA的站务，版面划分，申诉，建议等等。</string>
			<key>forumId</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Buy &amp; Sell 交易服务区</string>
			<key>forumId</key>
			<integer>6</integer>
			<key>description</key>
			<string>最IN数码产品热卖场，易手产品交易区，Hot!</string>
			<key>typeidList</key>
			<array>
				<string>手机</string>
				<string>掌上电脑</string>
				<string>笔记本电脑</string>
				<string>无线产品</string>
				<string>数码相机、摄像机</string>
				<string>MP3随身听</string>
				<string>各类配件</string>
				<string>其他好玩的</string>
				<string>站务</string>
			</array>
			<key>subForumList</key>
			<array>
				<dict>
					<key>forumName</key>
					<string>已完成交易</string>
					<key>description</key>
					<string>已完成的、成功的交易都放在这里留存。</string>
					<key>forumId</key>
					<integer>63</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Geek Talks · 奇客怪谈</string>
			<key>forumId</key>
			<integer>7</integer>
			<key>description</key>
			<string>业界、Bluetooth、WiFi、嵌入Linux、看法、非主流设备。</string>
			<key>subForumList</key>
			<array>
				<dict>
					<key>forumName</key>
					<string>E-INK</string>
					<key>forumId</key>
					<integer>59</integer>
					<key>description</key>
					<string>黑白世界 锦绣文章</string>
					<key>typeidList</key>
					<array>
						<string>Kindle</string>
						<string>SNOY</string>
						<string>国产</string>
						<string>资源</string>
						<string>综合</string>
						<string>交流</string>
						<string>Nook</string>
						<string>Kobo</string>
						<string>求助</string>
						<string>站务</string>
					</array>
				</dict>
				<dict>
					<key>forumName</key>
					<string>Joggler</string>
					<key>forumId</key>
					<integer>62</integer>
					<key>typeidList</key>
					<array>
						<string>各类配件</string>
						<string>ROM</string>
						<string>硬件报告</string>
						<string>业界</string>
						<string>各类软件</string>
						<string>综合</string>
						<string>安卓</string>
						<string>交流</string>
						<string>求助</string>
						<string>站务</string>
					</array>
				</dict>
			</array>
			<key>typeidList</key>
			<array>
				<string>Gadgets</string>
				<string>无线</string>
				<string>嵌入式Linux</string>
				<string>业界</string>
				<string>安卓</string>
				<string>高清播放器</string>
				<string>站务</string>
			</array>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Smartphone</string>
			<key>description</key>
			<string>智能手机：Windows Mobile/Windows Phone, Android, iOS, webOS, Symbian, and other</string>
			<key>forumId</key>
			<integer>9</integer>
			<key>typeidList</key>
			<array>
				<string>Symbian</string>
				<string>PalmOS</string>
				<string>Linux</string>
				<string>Windows Mobile</string>
				<string>运营商</string>
				<string>Other</string>
				<string>BlackBerry</string>
				<string>站务</string>
			</array>
		</dict>
		<dict>
			<key>forumName</key>
			<string>iPhone, iPod Touch，iPad</string>
			<key>forumId</key>
			<integer>57</integer>
			<key>description</key>
			<string>可以用两根手指头同时摸的手机和上网设备</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Android, Chrome, &amp; Google</string>
			<key>forumId</key>
			<integer>60</integer>
			<key>description</key>
			<string>Cloud Computing of Titan</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>PalmOS ，Treo</string>
			<key>forumId</key>
			<integer>12</integer>
			<key>description</key>
			<string>PalmOS的各种软件、硬件，Treo手机</string>
			<key>typeidList</key>
			<array>
				<string>Treo</string>
				<string>Palm硬件</string>
				<string>Clie</string>
				<string>各类软件</string>
				<string>汉化</string>
				<string>Pre</string>
				<string>WebOS</string>
				<string>pixi</string>
				<string>求助</string>
				<string>站务</string>
			</array>
			<key>subForumList</key>
			<array>
				<dict>
					<key>forumName</key>
					<string>Palm芝麻宝典</string>
					<key>forumId</key>
					<integer>40</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Windows Mobile，PocketPC，HPC</string>
			<key>forumId</key>
			<integer>14</integer>
			<key>typeidList</key>
			<array>
				<string>心得技巧</string>
				<string>绿色汉化</string>
				<string>游戏</string>
				<string>多媒体</string>
				<string>数据库</string>
				<string>实用工具</string>
				<string>ROM</string>
				<string>硬件报告</string>
				<string>HPC</string>
				<string>求助</string>
				<string>站务</string>
			</array>
		</dict>
		<dict>
			<key>forumName</key>
			<string>麦客爱苹果</string>
			<key>forumId</key>
			<integer>22</integer>
			<key>description</key>
			<string>G4，Powerbook，iMac，iPod，OS X...Think Different，Live Elegant</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>DC,NB,MP3,Gadgets...</string>
			<key>forumId</key>
			<integer>50</integer>
			<key>description</key>
			<string>笔记本电脑、数码相机、MP3，各种电子玩具、游戏机</string>
			<key>typeidList</key>
			<array>
				<string>UMPC</string>
				<string>笔记本电脑</string>
				<string>MP3随身听</string>
				<string>Gadgets</string>
				<string>DC</string>
				<string>游戏机</string>
				<string>站务</string>
			</array>
		</dict>
		<dict>
			<key>forumName</key>
			<string>Discovery</string>
			<key>forumId</key>
			<integer>2</integer>
			<key>description</key>
			<string>每一位Hi-PDA公民的空气与水</string>
			<key>typeidList</key>
			<array>
				<string>聚会</string>
				<string>汽车</string>
				<string>大杂烩</string>
				<string>助学</string>
				<string>Discovery</string>
				<string>投资</string>
				<string>职场</string>
				<string>文艺</string>
				<string>版喃</string>
				<string>显摆</string>
				<string>晒物劝败</string>
				<string>装修</string>
				<string>YY</string>
				<string>站务</string>
			</array>
			<key>subForumList</key>
			<array>
				<dict>
					<key>forumName</key>
					<string>改版建议</string>
					<key>forumId</key>
					<integer>65</integer>
					<key>typeidList</key>
					<array>
						<string>聚会</string>
						<string>汽车</string>
						<string>大杂烩</string>
						<string>助学</string>
						<string>Discovery</string>
						<string>投资</string>
						<string>职场</string>
						<string>文艺</string>
						<string>版喃</string>
						<string>显摆</string>
						<string>晒物劝败</string>
						<string>装修</string>
						<string>YY</string>
						<string>站务</string>
					</array>
				</dict>
				<dict>
					<key>forumName</key>
					<string>只讨论2.0</string>
					<key>forumId</key>
					<integer>64</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>forumName</key>
			<string>意欲蔓延</string>
			<key>forumId</key>
			<integer>24</integer>
			<key>description</key>
			<string>电影、音乐、读书、美术、摄影、English</string>
			<key>typeidList</key>
			<array>
				<string>电影</string>
				<string>音乐</string>
				<string>读书</string>
				<string>美术</string>
				<string>English</string>
				<string>摄影</string>
				<string>站务</string>
			</array>
		</dict>
		<dict>
			<key>forumName</key>
			<string>随笔与个人文集</string>
			<key>forumId</key>
			<integer>23</integer>
			<key>description</key>
			<string>在岁月的书签上，留下我的痕迹</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>吃喝玩乐</string>
			<key>forumId</key>
			<integer>25</integer>
			<key>description</key>
			<string>美食、旅行~~~</string>
			<key>typeidList</key>
			<array>
				<string>美食</string>
				<string>出游</string>
				<string>兴趣</string>
				<string>站务</string>
			</array>
		</dict>
		<dict>
			<key>forumName</key>
			<string>La Femme</string>
			<key>forumId</key>
			<integer>51</integer>
			<key>description</key>
			<string>三月三日天气新，HP里多丽人</string>
		</dict>
		<dict>
			<key>forumName</key>
			<string>疑似机器人</string>
			<key>forumId</key>
			<integer>57</integer>
			<key>description</key>
			<string>一、不得伤人或任人受伤而袖手旁观；二、除非违背一，必须服从人的命令；三、除非违背一及二，必须保护自己。</string>
		</dict>
	</array>
</dict>
</plist>
